<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Chemical Process</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

    <form th:action="@{process}" method="get" th:object="${process}">
        <table>
            <tr>
                <td>
                    <select id="materialName" name="materialName">
                        <option th:each="material : ${materials}"
                                th:value="${material.name}"
                                th:text="${material.name}"
                                th:selected="${material.name==process.materialName}"></option>
                    </select><br><br>
                    Channel Width:<br>
                    <input type="text" name="channelWidth" th:value="${process.channelWidth}">
                    <span class="validationError"
                          th:if="${#fields.hasErrors('channelWidth')}"
                          th:errors="*{channelWidth}">Username Error</span>
                    <br>

                    Channel Height:<br>
                    <input type="text" name="channelHeight" th:value="${process.channelHeight}">
                    <span class="validationError"
                          th:if="${#fields.hasErrors('channelHeight')}"
                          th:errors="*{channelHeight}">Username Error</span>
                    <br>

                    Channel Length:<br>
                    <input type="text" name="channelLength" th:value="${process.channelLength}">
                    <span class="validationError"
                          th:if="${#fields.hasErrors('channelLength')}"
                          th:errors="*{channelLength}">Username Error</span>
                    <br>

                    Hood speed:<br>
                    <input type="text" name="hoodSpeed" th:value="${process.hoodSpeed}">
                    <span class="validationError"
                          th:if="${#fields.hasErrors('hoodSpeed')}"
                          th:errors="*{hoodSpeed}">Username Error</span>
                    <br>

                    Hood temperature:<br>
                    <input type="text" name="hoodTemp" th:value="${process.hoodTemp}">
                    <span class="validationError"
                          th:if="${#fields.hasErrors('hoodTemp')}"
                          th:errors="*{hoodTemp}">Username Error</span>
                    <br>
                </td>

                <td>
                    <div th:if="!${#fields.hasErrors('*')}">
                        <img th:src="@{'data:image/jpeg;base64,'+${tempGraph}}">
                    </div>
                </td>
                <td>
                    <div th:if="!${#fields.hasErrors('*')}">
                        <img th:src="@{'data:image/jpeg;base64,'+${viscosityGraph}}">
                    </div>
                </td>
            </tr>
        </table>
        <button>Get final state</button>

        <br>
        <br>
        <div th:if="!${#fields.hasErrors('*')}">
            <p style="font-size:24px;">Result</p>

            Productivity:<br>
            <span th:text="${process.productivity}">PRODUCTIVITY</span><span> Kg/h</span><br>
            Temperature:<br>
            <span th:text="${process.temperature}">TEMPERATURE</span><span> C</span><br>
            Viscosity:<br>
            <span th:text="${process.viscosity}">CONSISTENCY</span><span> Pa*s</span><br>

            <br>
            <button name="action" value="get_report">Get report</button>
        </div>
    </form>

    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>